:root{
   --white: #ffffff;
   --white-90:#e4e4e7;
   --black: #000000;
   --primary-color-60:#caff33;
   --primary-color-hover:#b5e62e;
   --green-90:#f2ffcc;
   --green-65:#d1ff4c;
   --white-90:#e4e4e7;
   --white-99:#fcfcfd;
   --grey-10:#191919;
   --grey-11:#1c1c1c;
   --grey-15:#262626;
   --grey-35:#59595a;
   --grey-70:#B3B3B3;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Lexend', sans-serif;
   overflow-x: hidden;
}


/* Container */
.hero-right-box{

background: linear-gradient(214.85deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 39.72%), url(asfalt-light.png), #1A1A1A;
background-blend-mode: normal, screen, normal;

}

